header {
	padding-top: 40px;
}
body { background: #E9E9E9; }


.info-board{
	position: absolute;
	z-index: 10;
	background-color: #666699;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 1506px;
	height: 70px;

}
.start-menu {
	position: relative;
	z-index: 7;
	background-color: #3f3f4f;
	border-radius: 15px;
	padding-top: 50px;
	padding-bottom: 50px;
	width: 100%;
	height: 770px;
	vertical-align: middle;
	color: #FFF;

}

.text{
	position: relative;
	margin-left: auto;
  margin-right: auto;
	top: 100px;
	width: 600px;
	text-align: center;
}

#gameDiv{
	position: absolute;
	border-radius: 15px;
	border-color: #3f3f4f;
	border-style: solid;

}

#help{
	background-color: #A678B2;
	border-color: #A678B2;

}


